.node {
    cursor: pointer;
}

.hint-node {
    cursor: pointer;
}

#paths {
    display: none;
}

.node:hover {
    stroke: #000;
    stroke-width: 1.5px;
}

#btn-undo {
    cursor: pointer;
    stroke: #000;
    stroke-width: 1.5px;
}

#hint-node {
    cursor: pointer;
    stroke: #000;
    stroke-width: 1.5px;
}

.node--leaf {
    fill: black;
}

.node--root {
    pointer-events: none;

}

.circle circle {
}

.circle text {
}

.label{
    display: none;
    text-anchor: middle;
    pointer-events: none;
}

.hint-label{
    text-anchor: middle;
    pointer-events: none;
}

.label--leaf{
    display: inline;
}

.circle {
    fill: none;
    stroke: steelblue;
}

.center-content-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.slider-wrapper {
}
.slider-wrapper input {
    margin: 0;
}